# Python 3.12.13
langchain_core
langchain_community
langchain_huggingface
langchain-openai
langchain-pinecone
langgraph
langchain_groq
pandas
pinecone
sentence-transformers
pydantic-settings
python-dotenv
SQLAlchemy
streamlit
psycopg2-binary
